/* header styling */
header {
    background-image: linear-gradient(to right, rgb(20, 82, 139), rgb(98, 54, 116));
    color: white;
    margin: 10px;
    padding: 5px;
}

/* search bar styling */
#search-button {
    background-color: rgb(20, 82, 139);
    color: white;
    width: 100%;
}

.button-container {
    border-bottom: solid black 2px;
    padding-bottom: 20px;
}

/* current weather styling */
.icon {
    width: 100px;
}

.date {
    font-size: 20px;
    font-weight: bold;
}

#weather {
    padding: 10px;
    margin-bottom: 10px;
    border: solid black 1px;
    background-color: rgb(20, 82, 139);
    color: white;
}

#weather.div {
    padding-top: 2px;
}


/* 5 day forecast styling */
#forecast-card {
    background-image: linear-gradient(to right, rgb(20, 82, 139), rgb(98, 54, 116));
    color: white;
    padding: 10px;
}